body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: #222f3f;
}

header img {
  height: 20px;
  padding: 2px;
}

a {
  list-style: none;
}
nav {
  background-color: #364759;
}

.back-one {
    background-image: )

}