body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.4rem;
}

header {
  background-color: #222f3f;
}

header img {
  height: 20px;
  padding: 2px;
}

h1 > a {
  color: white;
  text-decoration: none;
}

nav {
  background-color: #364759;
}
nav > h1 {
  display: contents;
}

.text-center {
  text-align: center;
}

#orange-one {
  background-color: #f56600;
}

.forimg {
  height: 100px;
  width: 90px;
  border-radius: 5px;
}

#orange-one {
  color: white;
  background-color: #f56600;
  width: 90%;
  margin: auto;
}
